<a href="https://colab.research.google.com/github/cheran1303/MAIN-py/blob/main/customer_churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.12/dist-packages (1.7.4.5)
Requirement already satisfied: bleach in /usr/local/lib/python3.12/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2025.8.3)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.4.3)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from kaggle) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.12/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.12/dist-packages (from kaggle) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from kaggle) (0.5.1)

In [ ]:
!kaggle datasets download -d shantanudhakadd/bank-customer-churn-prediction

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 10, in <module>
    sys.exit(main())
             ^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/kaggle/cli.py", line 68, in main
    out = args.func(**command_args)
          ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/kaggle/api/kaggle_api_extended.py", line 1741, in dataset_download_cli
    with self.build_kaggle_client() as kaggle:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/kaggle/api/kaggle_api_extended.py", line 688, in build_kaggle_client
    username=self.config_values['username'],
             ~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^
KeyError: 'username'

In [ ]:
!kaggle datasets download -d shantanudhakadd/bank-customer-churn-prediction

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 10, in <module>
    sys.exit(main())
             ^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/kaggle/cli.py", line 68, in main
    out = args.func(**command_args)
          ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/kaggle/api/kaggle_api_extended.py", line 1741, in dataset_download_cli
    with self.build_kaggle_client() as kaggle:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/kaggle/api/kaggle_api_extended.py", line 688, in build_kaggle_client
    username=self.config_values['username'],
             ~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^
KeyError: 'username'

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("shantanudhakadd/bank-customer-churn-prediction")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/shantanudhakadd/bank-customer-churn-prediction?dataset_version_number=1...

100%|██████████| 262k/262k [00:00<00:00, 70.1MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/shantanudhakadd/bank-customer-churn-prediction/versions/1

In [1]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "Churn_Modelling.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "shantanudhakadd/bank-customer-churn-prediction",
  file_path,
  # Provide any additional arguments like
  # sql_query or pandas_kwargs. See the
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

print("Random 10 records:", df.sample(10))
# Count the number of customers who stayed (0) and who churned (1)
churn_counts = df['Exited'].value_counts()

# Display the counts
print("Total number of customers who stayed and churned:")
display(churn_counts)

min_values = df.min(numeric_only=True)
print(min_values)

/tmp/ipython-input-3836437330.py:10: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

Downloading from https://www.kaggle.com/api/v1/datasets/download/shantanudhakadd/bank-customer-churn-prediction?dataset_version_number=1&file_name=Churn_Modelling.csv...

100%|██████████| 669k/669k [00:00<00:00, 74.6MB/s]

Random 10 records:       RowNumber  CustomerId          Surname  CreditScore Geography  Gender  \
996         997    15645621           Hunter          811     Spain    Male
3772       3773    15699486          Johnson          745     Spain    Male
3818       3819    15740147        Cremonesi          725    France  Female
5564       5565    15700083              Lai          609     Spain    Male
3791       3792    15795151         Hartzler          705    France  Female
5277       5278    15589924      Rapuluolisa          577     Spain  Female
5943       5944    15658813        Siciliani          645    France  Female
2661       2662    15688409        Donaldson          742    France  Female
3878       3879    15653222  Otutodilichukwu          526   Germany  Female
4457       4458    15743617       Chesnokova          713   Germany    Male

      Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
996    44       3       0.00              2          0               1
3772   34       7  132944.53              1          1               1
3818   44      10       0.00              1          0               1
5564   39       2  139443.75              2          1               0
3791   38       3  123894.43              1          1               0
5277   40       1       0.00              2          1               1
5943   55       7       0.00              2          1               1
2661   28       2  191864.51              1          1               0
3878   32       6  131938.92              2          1               1
4457   47       1   95994.98              1          1               0

      EstimatedSalary  Exited
996          78439.73       0
3772         31802.92       0
3818         93777.61       0
5564          9234.06       0
3791         21177.10       0
5277        108787.00       0
5943         18369.33       0
2661        108457.99       1
3878          1795.93       0
4457        197529.23       0
Total number of customers who stayed and churned:

Exited
0    7963
1    2037
Name: count, dtype: int64

RowNumber                 1.00
CustomerId         15565701.00
CreditScore             350.00
Age                      18.00
Tenure                    0.00
Balance                   0.00
NumOfProducts             1.00
HasCrCard                 0.00
IsActiveMember            0.00
EstimatedSalary          11.58
Exited                    0.00
dtype: float64

In [ ]:
# List the files in the downloaded dataset directory to find the correct filename
!ls /root/.cache/kagglehub/datasets/shantanudhakadd/bank-customer-churn-prediction/versions/1

Churn_Modelling.csv

In [ ]:
# Display 5 random rows from the DataFrame
display(df.sample(5))

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
6904,6905,15627185,Terry,744,Germany,Male,29,6,123737.04,2,1,0,141558.04,0
5105,5106,15718465,Sadler,671,Germany,Male,51,3,96891.46,1,1,0,176403.33,1
737,738,15766741,McIntyre,525,France,Male,36,2,114628.40,1,0,1,168290.06,0
4033,4034,15569079,Hagins,632,Germany,Male,48,6,126066.26,1,1,0,64345.61,1
2544,2545,15709487,Freeman,668,Germany,Male,34,5,80242.37,2,0,0,56780.97,0

In [ ]:
# Display the entire DataFrame
display(df)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0